@import "./Variables.css";

.col-b {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 900px;
    gap: 10px;
    margin: 0 20px;
    padding: 20px;
    /* Clip */
    position: relative;
    isolation: isolate;
    border: none;
    background: transparent;
    clip-path: polygon(
        0 0, calc(100% - var(--clip)) 0, 100% var(--clip),
        100% calc(100% - var(--clip)), calc(100% - var(--clip)) 100%, 0 100%
    );
}

.col-b::before {
    content: "";
    position: absolute;
    inset: var(--border-size);
    background: transparent;
    clip-path: polygon(
        0 0, calc(100% - (var(--clip) - var(--border-size))) 0,
        100% calc(var(--clip) - var(--border-size)),
        100% calc(100% - (var(--clip) - var(--border-size))),
        calc(100% - (var(--clip) - var(--border-size))) 100%, 0 100%
    );
    z-index: -1;
}

.col-p-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

.col-h2 {
    color: var(--color-brighter-white);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.col-h2-focus {
    color: var(--text-on-white);
}

.col-p-main {
    color: var(--color);
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.col-p-intro {
    color: var(--color-darker-white);
    font-size: 1rem;
}

.col-p-final {
    color: var(--color-darker-white);
    font-size: 1rem;
}

