@import "./Variables.css";

.col-a {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 900px;
    gap: 20px;
    margin: 0 20px;
    padding: 20px;
    /* Clip */
    position: relative;
    isolation: isolate;
    border: none;
    background: transparent;
    clip-path: polygon(
        var(--clip) 0, 100% 0, 100% 100%,
        var(--clip) 100%, 0 calc(100% - var(--clip)),
        0 var(--clip)
    );
}

.col-a::before {
    content: "";
    position: absolute;
    inset: var(--border-size);
    background: transparent;
    clip-path: polygon(
        calc(var(--clip) - var(--border-size)) 0, 100% 0, 100% 100%,
        calc(var(--clip) - var(--border-size)) 100%, 0 calc(100% - (var(--clip) - var(--border-size))),
        0 calc(var(--clip) - var(--border-size))
    );
    z-index: -1;
}

.col-a > * {
    position: relative;
}

.content-paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h2-title {
    color: var(--color);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.h1-title {
    color: var(--color-brighter-white);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1;
}

.content-p-header {
    color: var(--color);
    font-size: 1.4rem;
    padding-top: 10px;
}

.content-p-focus {
    color: var(--text-on-white);
}

.h2-focus {
    color: var(--text-on-white);
}

.h1-focus {
    color: var(--text-on-white2);
}

.content-p-header-em {
    color: var(--color-darker-white);
    font-size: 1.1rem;
    padding-top: 20px;    
}