:root {
    --color-darker-white: #a29797;
    --color: #c1baba;
    --color-brighter-white: #eeebeb;
    --midhr-color: #726c6c;
    --logo-parrot-color: #f8f0e1;
    --parrot-btncolor: #f4bc14;
    --alt-color: #dc8f00;
    --bgcolor: #000;
    --dplogo-color: #0b111e;
    --darkhr-color: #191e29;
    --box-shadow: rgba(56, 189, 248, 0.25);
    --text-on-white: #d21818;
    --text-on-white2: #a21c10;
    --clip: 15px;
    --border-size: 1px;
}